name: Build Docker Images

on:
  push:
    branches:
      - 'main'
    paths:
      - '**/Dockerfile'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    
    - name: Get changed files
      id: getfile
      run: |
        chmod +x script/get_changed_files.sh
        script/get_changed_files.sh ${{ github.event.before }} ${{ github.sha }}
      shell: bash

    - name: Echo output
      run: |
        echo "Changed files: ${{ env.DIFF_OUTPUT }}"
        echo "Parent directories: ${{ env.PARENT_DIRS }}"

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to ghcr.io 
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GH_PAT }}

    - name: Build and push image
      run: |
        TAG=${COMMIT_ID::6}
        chmod +x script/build_and_push_images.sh
        script/build_and_push_images.sh $TAG
      env:
        USERNAME: ${{ github.repository_owner }}
        COMMIT_ID: ${{ github.sha }}
      shell: bash